---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro'
import Experience from '../components/Experience.astro';	
import BriefIcon from '../components/icons/BriefIcon.astro';
import Presentation from '../components/Presentation.astro';
import CodeIcon from '../components/icons/CodeIcon.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Porfolio de Joseph MT - Desarrollador y Programador Web"
	description='Desarrollador y Programador Web'>
	<main class="px-4">
		<SectionContainer class="py-44 pb-32">
			<Presentation />
		</SectionContainer>
			
		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center">
				<BriefIcon class="size-7"/>
				Experiencia laboral
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center">
				<CodeIcon class="size-7"/>
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>

